{% extends 'login/base.html' %}


{% block title_content %}
    {% include "google_font.html" %}
    {% load static %}  
    <link rel="stylesheet" type="text/css" href="{% static 'login/form.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}"> 
{% endblock title_content %}


{% block content %}
	<form class="form-signin" method='POST'>{% csrf_token %}
	  <h1 class="h1 mb-3 font-weight-bold header_font text-center text-danger">GuideXP</h1>
	  <label for="inputEmail" class="sr-only">Email address</label>
	  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	  <label for="inputPassword" class="sr-only">Password</label>
	  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	  <button class="btn btn-lg btn-block btn-danger" type="submit">Sign in</button>
	</form>
{% endblock %}